name: Build and Push Container Image

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  docker:
    permissions:
      contents: write
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          platform: linux/amd64
          suffix: ""
        - os: ubuntu-24.04-arm
          platform: linux/arm64
          suffix: "-arm"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/tacokumo/tacokumo-bot

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          push: true
          tags: ghcr.io/tacokumo/tacokumo-bot:${{ github.ref_name }}${{ matrix.suffix }}
